* {

box-sizing: border-box;
font-family: "helvetica", times, san-serif;
}




h1 {

margin-bottom: 15px;

text-align: center;
}




div#container {

margin-bottom: 15px;

border: 3px solid white;
font-family: helvetica, sans-serif;

color: black;

padding: 15px;
margin-left: auto;
margin-right: auto;
}




.row {

width: 100%;

}




@media (min-width: 952px){
.col-lg-4
{

float: left;

}
.col-lg-4{

width: 33%;

}
}




@media (min-width: 768px) and (max-width: 991px) {
.col-md-6, .col-md-12
{

float: left;

}
.col-md-6{

width: 50%;

}

.col-md-12{

width: 100%;

}
}



@media (max-width: 767px) {
.col-sm-12
{

float: left;

}
.col-lg-12{

width: 100%;

}

}


div#tefu, div#lane, div#hayb {
position: relative;
float: right;
font-style: italic;
font-weight: bold;
color: black;
width: 70px;;
border: solid black;
}

#tefu {
background-color: #D2B1FF;
}

#hayb {
background-color: #DEABFF;
}

#lane {
background-color: #2211FF;
}

div#kal, div#hum, div#fri{
border: 1px solid black;
}
div#p{
clear: right;
}


#kal {
background-color: #c5d1a3;
}

#hum {
background-color: #d1d1d1;
}

#fri {
background-color: #a1a1a1;
}